.logOutBtn {
  padding: 12px;
  width: 100%;
  text-align: left;
  border-radius: 7px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
@media (any-hover: hover) {
  .logOutBtn:hover {
    background-color: #f5f1f1;
  }
}
