.mainButton {
  max-width: 320px;
  width: 100%;
  padding: 7px;
  font-size: 20px;
  text-align: center;
  background-color: #1877f2;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #ffffff;
}
@media (any-hover: hover) {
  .mainButton:hover {
    background-color: #0e50a7;
  }
}
.mainButton:disabled {
  background-color: #6ea8f4;
}
