@charset "UTF-8";
.wrapperSideBar {
  position: fixed;
  width: 100%;
  max-width: 250px;
  height: 100vh;
  padding: 8px 12px;
  border-right: 1px solid #dcdbdb;
  overflow: hidden;
  min-height: 100%;
}
@media (max-width: 1260px) {
  .wrapperSideBar {
    max-width: 75px;
    padding: 8px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}
@media (max-width: 767.98px) {
  .wrapperSideBar {
    max-width: 100%;
    height: 75px;
    border-right: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 0px;
  }
}

.sideBarContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 767.98px) {
  .sideBarContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    min-height: 100%;
  }
}
@media (max-width: 767.98px) {
  .sideBarContent {
    border-top: 1px solid #dcdbdb;
    -webkit-column-gap: 70px;
    -moz-column-gap: 70px;
    column-gap: 70px;
  }
}
@media (max-width: 650px) {
  .sideBarContent {
    -webkit-column-gap: 55px;
    -moz-column-gap: 55px;
    column-gap: 55px;
  }
}
@media (max-width: 550px) {
  .sideBarContent {
    -webkit-column-gap: 35px;
    -moz-column-gap: 35px;
    column-gap: 35px;
  }
}
@media (max-width: 450px) {
  .sideBarContent {
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
  }
}
@media (max-width: 400px) {
  .sideBarContent {
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
  }
}

.logo {
  max-width: 103px;
}
.logo:not(:last-child) {
  margin-bottom: 25px;
}
@media (max-width: 1260px) {
  .logo {
    display: none;
  }
}

.wrapperInstIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 12px;
}
@media (max-width: 767.98px) {
  .wrapperInstIcon {
    display: none;
  }
}

.instagramIcon {
  display: none;
}
@media (max-width: 1260px) {
  .instagramIcon {
    display: inline-block;
    max-width: 30px;
    height: 30px;
  }
}
@media (max-width: 767.98px) {
  .instagramIcon {
    display: none;
  }
}

.menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
@media (min-width: 767.98px) {
  .menu {
    width: 100%;
  }
}

.menuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.menuList:not(:last-child) {
  margin-bottom: 5px;
}
@media (max-width: 767.98px) {
  .menuList {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.menuItem {
  padding: 12px;
  border-radius: 7px;
}
@media (any-hover: hover) {
  .menuItem:hover {
    background-color: #f5f1f1;
  }
  .menuItem:hover .menuIcon {
    -webkit-transform: translate(-3px, 0);
    -ms-transform: translate(-3px, 0);
    transform: translate(-3px, 0);
  }
}
@media (max-width: 500px) {
  .menuItem {
    padding: 8px;
  }
}

.menuButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  font-size: 16px;
  border-radius: 7px;
}
@media (any-hover: hover) {
  .menuButton:hover {
    background-color: #f5f1f1;
  }
  .menuButton:hover .menuIcon {
    -webkit-transform: translate(-3px, 0);
    -ms-transform: translate(-3px, 0);
    transform: translate(-3px, 0);
  }
}
@media (max-width: 1260px) {
  .menuButton span + span {
    display: none;
  }
}
@media (max-width: 500px) {
  .menuButton {
    padding: 8px;
  }
}

.menuLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  color: #000000;
}
@media (max-width: 1260px) {
  .menuLink span + span {
    display: none;
  }
}

.menuIcon {
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  stroke-width: 5px;
  display: inline-block;
}

svg path {
  stroke-width: 1;
  stroke: black;
}

.moreButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition:
    transform 0.3s,
    -webkit-transform 0.3s;
  padding: 12px;
  border-radius: 7px;
}
@media (min-width: 767.98px) {
  .moreButton {
    width: 100%;
  }
}
@media (any-hover: hover) {
  .moreButton:hover {
    background-color: #f5f1f1;
  }
  .moreButton:hover::before {
    -webkit-transform: translate(-3px, 0);
    -ms-transform: translate(-3px, 0);
    transform: translate(-3px, 0);
  }
}
.moreButton::before {
  content: "";
  background: url("/images/icons/more-icon.svg");
  width: 30px;
  height: 30px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1260px) {
  .moreButton {
    font-size: 0;
    gap: 0px;
  }
}

.popup {
  position: fixed; /* Или absolute, в зависимости от вашей структуры */
  bottom: 10%;
  left: 3%;
  background: white;
  -webkit-box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 280px;
  border-radius: 10px;
}

.popupContent {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.buttonSwitch {
  padding: 12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
@media (any-hover: hover) {
  .buttonSwitch {
    border-radius: 7px;
  }
  .buttonSwitch:hover {
    background-color: #f5f1f1;
  }
}
.buttonSwitch::before {
  content: "";
  background: url("/images/icons/switch.svg") 0 0/100% 100% no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.active {
  font-weight: 700;
}
.active svg path {
  stroke-width: 2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.themePopup {
  position: fixed;
  bottom: 10%;
  left: 3%;
  background: white;
  -webkit-box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 280px;
  border-radius: 10px;
}

.themePopupHeader {
  padding: 15px;
  border-bottom: 1px solid rgb(220, 219, 219);
  width: 100%;
}

.closeThemePopup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
  pointer-events: none;
  width: 100%;
}
@media (any-hover: hover) {
  .closeThemePopup:hover::before {
    -webkit-transform: translate(-3px);
    -ms-transform: translate(-3px);
    transform: translate(-3px);
  }
}
.closeThemePopup::before {
  content: "";
  background: url("/images/icons/arrow-back.svg") 0 0/100% 100% no-repeat;
  width: 17px;
  height: 17px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  pointer-events: all;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition:
    transform 0.3s,
    -webkit-transform 0.3s;
}
.closeThemePopup::after {
  content: "";
  background: url("/images/icons/switch.svg") 0 0/100% 100% no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.closeThemePopup.darkMode::after {
  content: "";
  background: url("/images/icons/moon-icon.svg") 0 0/100% 100% no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.popupSwitcher {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
