.popup {
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.popupDescription {
  width: 800px;
  height: 500px;
}
