// якщо селектор юзається більше чим 2 рази виносимо у цей файл )))
.mainInput {
  width: 100%;
  padding: 14px 12px;
  border-radius: 4px;
  background-color: #eeeeee;
  color: black;
  border: 1px solid #c5c5c5;
}
